.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
}

.title {
    font-family: "Caveat", cursive;
    font-size: 2rem;
    margin: auto;
}

.divider {
    font-family: "Caveat", cursive;
    font-size: 1.5rem;
}

.variants {
    font-family: "Caveat", cursive;
    width: 100%;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    border-radius: 12px;
}