.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    gap: 50px;
}

.segment{
    font-family: "Caveat", cursive;
    font-size: 2rem;
}

.button {
    font-family: "Caveat", cursive;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgb(167, 167, 167);
}
